@page
@model SistemaAcademico.Pages.Carreras.IndexModel
@{
}
@if (Model.Carreras.Count == 0)
{
	<p>No hay carreras cargadas</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Modalidad</th>
                <th>Duracion</th>
                <th>TituloOtorgado</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var carrera in Model.Carreras)
            {
                <tr>
                    <td>@carrera.Id</td>
                    <td>@carrera.Nombre</td>
                    <td>@carrera.Modalidad</td>
                    <td>@carrera.DuracionAnios</td>
                    <td>@carrera.TituloOtorgado</td>
                </tr>
            }
        </tbody>
    </table>
}