@page
@model SistemaAcademico.Pages.Carreras.IndexModel
@{
}
<a asp-page="Create" class="btn btn-success mb-3">Agregar Carrera </a>
@if (Model.Carreras.Count == 0)
{
	<p>No hay carreras cargadas</p>
}
else
{
    <table class="table table-striped table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Duracion</th>
                <th>TituloOtorgado</th>
                <th>Modalidad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var carrera in Model.Carreras)
            {
                <tr>
                    <td>@carrera.Id</td>
                    <td>@carrera.Nombre</td>
                    <td>@carrera.Modalidad</td>
                    <td>@carrera.DuracionAnios</td>
                    <td>@carrera.TituloOtorgado</td>
                    <td>
                        <a asp-page="Edit" asp-route-id="@carrera.Id" class="btn btn-warning btn-sm">Editar Alumno</a>
                        <a asp-page="Delete" asp-route-id="@carrera.Id" class="btn btn-danger btn-sm">Eliminar Alumno</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}