@page
@model SistemaAcademico.Pages.Alumnos.IndexModel
@{
}
@if (Model.Alumnos.Count == 0)
{
    <p>No hay carreras cargadas</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Dni</th>
                <th>Email</th>
                <th>Fecha De Nacimiento</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var alumno in Model.Alumnos)
            {
                <tr>
                    <td>@alumno.Id</td>
                    <td>@alumno.Nombre</td>
                    <td>@alumno.Apellido</td>
                    <td>@alumno.Dni</td>
                    <td>@alumno.Email</td>
                    <td>@alumno.FechaDeNacimiento</td>
                </tr>
            }
        </tbody>
    </table>
}